/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  /* width: 100%; */
  background-color: #c3c3c3;
  background-image: url("./../img/bgtile.png");
  background-repeat: repeat-x;
}

main {
  margin: 5%;
}

.phone-box,
.content-box {
  display: inline-block;
  margin: 0 30px;
  vertical-align: top;
  width: 40%;
}

.phone-box {
  text-align: right;
}

.content-box {
  width: 30%;
}

/* Title Box -------------------------------------- */

.title {
  position: relative;
}

.title button {
  background-color: #1c5380;
  padding: 8px;
  color: #fff;

  border-radius: 3px;
  text-align: center;
  /* vertical-align: text-top; */

  position: absolute;
  right: 0;
  margin-top: 15px;
}

.title button img {
  margin: 0;
}

.title button p {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  padding: 2px;

  font-size: 1rem;
  font-weight: 600;
}

/* Text Box --------------------------------------- */

.text-box {
  /* border: solid 1px red; */

  padding: 20px 40px;
  background-image: url("/img/frame.png");
  background-repeat: no-repeat;

  padding-bottom: 60px;
}

.text-box h2 {
  margin: 0;
}
